.serachInputWrapper{
    display: flex;
    width: 100%;
}

.serachInputWrapper input{
    width: 100%;
    background-color: transparent;
    outline: none;
    border: none;
    margin: 0 0.2rem 0 1rem;
    font-size: 1rem;
}

.serachInputWrapper input:focus{
    border: 1px dashed #0079FE  ;
}

.serachInputWrapper input::placeholder{
    color: rgba(209, 209, 209, 0.856);
    font-size: 16px;
}

 .serachInputWrapper svg{
    margin: 0 0 0 1.2rem;

}

.searchBarContainer{
    display: flex;
    background-color: #1E2A47;
    height: 55px;
    align-items: center;
    border-radius:10px;
    padding: 5px;
    box-shadow: rgb(70 96 187 / 20%) 0px 16px 30px -10px
}

.searchBarContainer  button{
    background-color: #0079FE;
    border: none;
    height: 85%;
    width: 13%;
    border-radius: 5px;
    font-weight: 600;
    cursor: pointer;
}

.searchBarContainer  button:hover{
    background-color: transparent;
    border: 1px solid #0079FE;
    transition: all 0.1s ease-in-out;
}