@import url('https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Space Mono', monospace;
}

#light  {
  --bg-color: rgb(246, 248, 255);
  --text-color: #fff;
  --box-shadow:rgb(70 96 187 / 20%) 0px 16px 30px -10px;
  --btn-color:'#000c';
  --bio-text-color: #000c;
  --icon-header-bg-color: #000;
}

#dark  {
  --btn-color: #fff;
  --text-color: #000;
  --bg-color: #141c2f;
  --box-shadow: rgb(70 96 187 / 20%) 0px 16px 30px -10px;
  --bio-text-color: #ccc;
  --icon-header-bg-color: red;
}

.App{
 width: 100vw;
 height: 100vh;
 background-color: var(--bg-color); /* Define a cor de fundo do corpo da página */
}

#light #searchBarContainer {
  background-color: var(--bg-color); /* Define a cor de fundo do corpo da página */
  color: #000;  
}

#light #devInfoContainer {
  background-color: var(--bg-color); /* Define a cor de fundo do corpo da página */
  color: #000;
}

#light #user-info-container {
  background-color: var(--bg-color); /* Define a cor de fundo do corpo da página */
  color: #000;
}

#dark #user-info-container {
  color: #fff;
}

#dark #devInfoContainer {
  color: #fff;
}

#dark #searchBarContainer input {
  color: #fff;
}

#light #searchBarContainer input::placeholder {
  color: #000c;
}


#light #user-info-container   svg {
  color: #000;
}

a{
  color: #0079fe;
  text-decoration: none;
}


.svg_information {
  fill: var(--btn-color);
}

.svg_icon_header {
  fill: var(--icon-header-bg-color);
}