@import url('https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* color: var(--text-color-light); */
  font-family: 'Space Mono', monospace;
}
:root {
  --bg-color-light: rgb(246, 248, 255); /* cor de fundo padrão para o tema claro */
  --text-color-dark: #000; /* cor de texto padrão para o tema claro */
  --bg-color-dark: #141c2f; /* cor de fundo para o tema escuro */
  --text-color-light: #fff; /* cor de texto para o tema escuro */
  --box-shadow-dark: rgb(70 96 187 / 20%) 0px 16px 30px -10px;
  --box-shadow-light:rgb(70 96 187 / 20%) 0px 16px 30px -10px;
}

.App{
 width: 100vw;
 height: 100vh;
}

#light  {
  background-color: var(--bg-color-light); /* Define a cor de fundo do corpo da página */
}

/* Estilos para o tema escuro */
#dark  {
  background-color: var(--bg-color-dark); /* Define a cor de fundo do corpo da página */
}

#light #searchBarContainer {
  background-color: var(--bg-color-light); /* Define a cor de fundo do corpo da página */
  color: #000;  
}

#light #devInfoContainer {
  background-color: var(--bg-color-light); /* Define a cor de fundo do corpo da página */
  color: #000;
}

#light #user-info-container {
  background-color: var(--bg-color-light); /* Define a cor de fundo do corpo da página */
  color: #000;
}

#dark #user-info-container {
  color: #fff;
}

#dark #devInfoContainer {
  color: #fff;
}

#dark #searchBarContainer input {
  color: #fff;
}

#light #user-info-container   svg {
  color: #000;
}

a{
  color: #0079fe;
  text-decoration: none;
}